<div class="box">
  <h1>Login</h1>

  <div>
    <p>
      To log in get registered
      <a href="https://social-network.samuraijs.com/"> here </a>
    </p>
    <p>or use common test account credentials:</p>
    <p>Email: free@samuraijs.com</p>
    <p>Password: free</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="form">
    <!--Login-->
    <label>
      Enter email
      <div>
        <input
          type="email"
          formControlName="email"
          required
          [ngClass]="{
            inputError: email!.invalid && (email!.dirty || email!.touched),
            inputSuccess: email!.valid
          }" />
      </div>
    </label>

    <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
      <div *ngIf="email!.errors?.['required']">Email is required.</div>
      <div *ngIf="email!.errors?.['pattern']">Email is not correct</div>
    </div>

    <!--Password-->
    <label>
      Enter password
      <div>
        <input
          type="password"
          formControlName="password"
          required
          [ngClass]="{
            inputError: password!.invalid && (password!.dirty || password!.touched),
            inputSuccess: password!.valid
          }" />
      </div>
    </label>

    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="error">
      <div *ngIf="password!.errors?.['required']">Password is required.</div>
      <div *ngIf="password!.errors?.['minlength']">
        Password must be at least 4 characters long.
      </div>
    </div>

    <!--Remember me-->
    <label> <input type="checkbox" formArrayName="rememberMe" /> Remember me</label>

    <button [disabled]="loginForm.invalid" type="submit">sign in</button>
  </form>
</div>
