.box {
  width: 300px;
  height: auto;
  position: fixed;
  top: 40%;
  right: 50%;
  margin: -125px  -125px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.error {
  color: #ff5757;
}

.inputError {
  background-color: #ff5757;
}

.inputSuccess {
  background-color: #6dff6d;
}
