<div class="box">
  <div class="todo-header">
    <input
      class="input"
      *ngIf="editMode; else content"
      [(ngModel)]="newTitle"
      (blur)="editTitleHandler()"
      (keydown.enter)="editTitleHandler()" />
    <ng-template #content>
      <p class="title" (dblclick)="activateEditModeHandler()">{{ todo.title | titlecase }}</p>
    </ng-template>
    <button (click)="deleteTodolist()">Delete</button>
  </div>
  <tl-tasks [todoId]="todo.id"></tl-tasks>
  <tl-filtering-btn
    (changeFilterEvent)="changeFilter($event)"
    [filter]="todo.filter"></tl-filtering-btn>
  <!--  <tl-todo-footer [addDate]="todo.addedDate"></tl-todo-footer>-->
</div>
