.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.task-content {
  display: flex;
}

.completed-task {
  opacity: 0.5;
  text-decoration: line-through;
}

button {
  border: none;
  outline: none;
  padding: 16px 25px;
  background: linear-gradient(135deg, #153677, #4e085f);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

input {
  border: none;
  outline: none;
  background-color: #edeef0;
  color: #ff5945;
}

